@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap");
body {
  font-family: "Titillium Web", sans-serif;
}

h4 {
  margin: 15px 0px;
  text-align: center;
}

.box {
  min-height: 150px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  line-height: 150px;
  border-radius: 5px;
}
.align {
  min-height: 450px;
}
